<h2>Hello: "{{:hello}}"</h2>
<button id="addButton">Add</button>

<hr>

Client:
<br>
<div id="container"> </div>


<hr>
Server:<br>
<ul>
	{{for people}}
		<li> Name: {{:name}} </li>
	{{/for}}
</ul>
	
	
<script>

	$(document).ready(function(){
		
		var moreData = {
			morePeople: [
				{name: "Jim Client"}, 
				{name: "Pedro Client"}
			] 
		};
	
		var tmpl = $.templates("./templates/_includes/clientTemplate.html");
		var html = tmpl.render(moreData);
		console.log("moreData",moreData);
		$("#container").html(html);
	});

</script>